# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo

# ====================
# CLion & CMake 补充
# ====================

.idea/

cmake-build-*/
build/

CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json


*.log
*.tmp
*.swp
*~

# Windows 系统文件
Thumbs.db
